# Dependencies
node_modules/

# Build outputs
worker-dist.js
worker-bundled.js
worker-simple.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 