root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,mjs,ts}]
max_line_length = 100
max_file_lines = 300

[*.py]
max_line_length = 88
max_file_lines = 300

[*.{json,yml,yaml}]

[*.md]
trim_trailing_whitespace = false
max_line_length = 80

[Makefile]
